@import 'variables';

@mixin container-size($min, $max) {
    width: #{'min(#{$min}, #{$max})'};
}

@mixin screen-size($breakpoints) {
    @if $breakpoints == small {
        @media (max-width: 480px) { @content }
    };
    @if $breakpoints == medium {
        @media (max-width: 768px) { @content }
    };
}

// Reset -------------------------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    font: 700 2rem 'Spartan', sans-serif;
    background: $main-bg;
    transition: background .5s;
}

.calculator {
    margin: 0 auto;
    @include container-size(90vw, 700px);

    @include screen-size(small) {
        @include container-size(90vw, 425px);
    }
}

// Botões ----------------------------------------------
button {
    font: 700 2.1rem 'Spartan', sans-serif;
    line-height: 2.25rem;
    color: $number-color;
    padding: 1.25rem 2.25rem;
    
    cursor: pointer;

    border: none;
    border-radius: 1rem;
    border-bottom: .25rem solid $shadow-number-bg;
    background: $number-bg;
    transition: background .5s;

    @include screen-size(medium) {
        border-radius: .5rem;
        padding: 1rem 1.5rem;
        font-size: 1.8rem;
    }

    @include screen-size(small) {
        border-radius: .5rem;
        font-size: 1.6rem;
        padding: .75rem .5rem; 
    }

    &:hover {
        opacity: .4;
    }
}

.del-reset {
    color: white;
    border-bottom: .35rem solid $shadow-del-reset-bg;
    background: $del-reset-bg;
    transition: background .5s;
    font-size: 1.8rem;

    @include screen-size(medium) {
        font-size: 1.5rem;
    }

    @include screen-size(small) {
        font-size: 1.3rem;
    }
}

// Botão toggle para a troca de tema -------------------------------
.toggle {
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: .5rem;
    position: relative;
    background-color: $calc-toggle-bg;
    transition: background .5s;

    @include screen-size(small) {
        font-size: .8rem;
    }

    .switch.theme1,
    .switch.theme2,
    .switch.theme3 {
        color: $equal-bg;
        cursor: pointer;
        position: relative;
        display: block;
        float: left;
        padding: 0 1rem;

        -webkit-transition: 400ms ease-out;
        -moz-transition: 400ms ease-out;
        transition: 400ms ease-out;

        @include screen-size(small) {
            padding: 0 .8rem;
        }
    }

    .switch.active {
        color: white;
        border-radius: .5rem;

        -moz-box-shadow: 0px 0px 7px 1px $equal-bg;
        -webkit-box-shadow: 0px 0px 7px 1px $equal-bg;
        -o-box-shadow: 0px 0px 7px 1px $equal-bg;
        box-shadow: 0px 0px 7px 1px $equal-bg;
        
        &.theme1.active {
            background-color: $equal-bg;
        }
        
        &.theme2.active {
            background-color: $equal-bg;
        }
        
        &.theme3.active {
            background-color: $equal-bg;
        }
    }
}
// Theme color ------------------------------------------------
.white-theme {
    background: $W-main-bg;
    transition: background .5s;
    
    button {
        color: $W-number-color;
        border-bottom-color: $W-shadow-number-bg;
        background: $W-number-bg;
        transition: background .5s;
    }
    
    .del-reset {
        color: white;
        border-bottom-color: $W-shadow-del-reset-bg;
        background: $W-del-reset-bg;
        transition: background .5s;
    }

    .toggle {
        background-color: $W-calc-toggle-bg;
        transition: background .5s;

        .switch.theme1,
        .switch.theme2,
        .switch.theme3 {
            color: $W-equal-bg;
        }

        .switch.active {
            color: $W-number-color;

            -moz-box-shadow: 0px 0px 7px 1px $W-equal-bg;
            -webkit-box-shadow: 0px 0px 7px 1px $W-equal-bg;
            -o-box-shadow: 0px 0px 7px 1px $W-equal-bg;
            box-shadow: 0px 0px 7px 1px $W-equal-bg;
            
            &.theme1.active {
                background-color: $W-equal-bg;
            }
            
            &.theme2.active {
                background-color: $W-equal-bg;
            }
            
            &.theme3.active {
                background-color: $W-equal-bg;
            }
        }
    }
}

// Theme color ------------------------------------------------
.purple-theme {
    background: $P-main-bg;
    transition: background .5s;
    
    button {
        color: $P-number-color;
        border-bottom-color: $P-shadow-number-bg;
        background: $P-number-bg;
        transition: background .5s;
    }
    
    .del-reset {
        color: white;
        border-bottom-color: $P-shadow-del-reset-bg;
        background: $P-del-reset-bg;
        transition: background .5s;
    }

    .toggle {
        background-color: $P-calc-toggle-bg;
        transition: background .5s;

        .switch.theme1,
        .switch.theme2,
        .switch.theme3 {
            color: $P-equal-bg;
        }
        
        .switch.active {
            color: $P-number-color;

            -moz-box-shadow: 0px 0px 7px 1px $P-equal-bg;
            -webkit-box-shadow: 0px 0px 7px 1px $P-equal-bg;
            -o-box-shadow: 0px 0px 7px 1px $P-equal-bg;
            box-shadow: 0px 0px 7px 1px $P-equal-bg;
            
            &.theme1.active {
                background-color: $P-equal-bg;
            }
            
            &.theme2.active {
                background-color: $P-equal-bg;
            }
            
            &.theme3.active {
                background-color: $P-equal-bg;
            }
        }
    }
}