// Backgrounds ===========================================
// Theme 1 ------------------------------------------
$main-bg: hsl(222, 26%, 31%);
$calc-toggle-bg: hsl(223, 31%, 20%);
$screen-bg: hsl(224, 36%, 15%);

$del-reset-bg: hsl(225, 21%, 49%);
$shadow-del-reset-bg: hsl(224, 28%, 35%);
$equal-bg: hsl(6, 63%, 50%);
$shadow-equal-bg: hsl(6, 70%, 34%);
$number-bg: hsl(30, 25%, 89%);
$shadow-number-bg: hsl(28, 16%, 65%);
$number-color: hsl(221, 14%, 31%);
$previous-number-color: hsla(30, 25%, 89%, 0.5);

// Theme 2 ------------------------------------------
$W-main-bg: hsl(0, 0%, 90%);
$W-calc-toggle-bg: hsl(0, 5%, 81%);
$W-screen-bg: hsl(0, 0%, 93%);

$W-del-reset-bg: hsl(185, 42%, 37%);
$W-shadow-del-reset-bg: hsl(185, 58%, 25%);
$W-equal-bg: hsl(25, 98%, 40%);
$W-shadow-equal-bg: hsl(25, 99%, 27%);
$W-number-bg: hsl(45, 7%, 89%);
$W-shadow-number-bg: hsl(35, 11%, 61%);
$W-number-color: hsl(60, 10%, 19%);
$W-previous-number-color: hsla(60, 9%, 19%, 0.5);

// Theme 3 ------------------------------------------
$P-main-bg: hsl(268, 75%, 9%);
$P-calc-toggle-bg: hsl(268, 71%, 12%);
$P-screen-bg: hsl(268, 71%, 12%);

$P-del-reset-bg: hsl(281, 89%, 26%);
$P-shadow-del-reset-bg: hsl(285, 91%, 52%);
$P-equal-bg: hsl(176, 100%, 44%);
$P-shadow-equal-bg: hsl(177, 92%, 70%);
$P-number-bg: hsl(268, 47%, 21%);
$P-shadow-number-bg: hsl(290, 70%, 36%);
$P-number-color: hsl(52, 100%, 62%);
$P-previous-number-color: hsla(52, 100%, 62%, 0.5);