// Backgrounds ==========================
// Theme 1 ------------------------------
$main-background: hsl(222, 26%, 31%);
$calc-background: hsl(223, 31%, 20%);
$screen-background: hsl(224, 36%, 15%);

// Theme 2 ------------------------------



// Theme 3 ------------------------------



// Key Colors ==========================
$light-blue-background: hsl(225, 21%, 49%);
$shadow-light-blue-background: hsl(224, 28%, 35%);
$red-background: hsl(6, 63%, 50%);
$shadow-red-background: hsl(6, 70%, 34%);
$grey-background: hsl(30, 25%, 89%);
$shadow-grey-background: hsl(28, 16%, 65%);
$dark-blue-greyish: hsl(221, 14%, 31%);