* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  font: 700 2rem 'Spartan', sans-serif;
  background: #3a4764;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.calculator {
  margin: 0 auto;
  overflow-y: auto;
  width: min(90vw, 700px);
}

@media (max-width: 480px) {
  .calculator {
    width: min(90vw, 425px);
  }
}

button {
  font: 700 2.1rem 'Spartan', sans-serif;
  line-height: 2.25rem;
  color: #444b5a;
  padding: 1.25rem 2.25rem;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  border-bottom: 0.25rem solid #b4a597;
  background: #eae3dc;
  -webkit-transition: background .5s;
  transition: background .5s;
}

@media (max-width: 768px) {
  button {
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  button {
    border-radius: .5rem;
    font-size: 1.6rem;
    padding: .75rem .5rem;
  }
}

button:hover {
  opacity: .4;
}

.del-reset {
  color: white;
  border-bottom: 0.35rem solid #404e72;
  background: #637097;
  -webkit-transition: background .5s;
  transition: background .5s;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .del-reset {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .del-reset {
    font-size: 1.3rem;
  }
}

.toggle {
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: .5rem;
  position: relative;
  background-color: #232c43;
  -webkit-transition: background .5s;
  transition: background .5s;
}

@media (max-width: 480px) {
  .toggle {
    font-size: .8rem;
  }
}

.toggle .switch.theme1,
.toggle .switch.theme2,
.toggle .switch.theme3 {
  color: #d03f2f;
  cursor: pointer;
  position: relative;
  display: block;
  float: left;
  padding: 0 1rem;
  -webkit-transition: 400ms ease-out;
  transition: 400ms ease-out;
}

@media (max-width: 480px) {
  .toggle .switch.theme1,
  .toggle .switch.theme2,
  .toggle .switch.theme3 {
    padding: 0 .8rem;
  }
}

.toggle .switch.active {
  color: white;
  border-radius: .5rem;
  -webkit-box-shadow: 0px 0px 7px 1px #d03f2f;
  -o-box-shadow: 0px 0px 7px 1px #d03f2f;
  box-shadow: 0px 0px 7px 1px #d03f2f;
}

.toggle .switch.active.theme1.active {
  background-color: #d03f2f;
}

.toggle .switch.active.theme2.active {
  background-color: #d03f2f;
}

.toggle .switch.active.theme3.active {
  background-color: #d03f2f;
}

.white-theme {
  background: #e6e6e6;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.white-theme button {
  color: #35352c;
  border-bottom-color: #a69d91;
  background: #e5e4e1;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.white-theme .del-reset {
  color: white;
  border-bottom-color: #1b5f65;
  background: #377f86;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.white-theme .toggle {
  background-color: #d1cccc;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.white-theme .toggle .switch.theme1,
.white-theme .toggle .switch.theme2,
.white-theme .toggle .switch.theme3 {
  color: #ca5502;
}

.white-theme .toggle .switch.active {
  color: #35352c;
  -webkit-box-shadow: 0px 0px 7px 1px #ca5502;
  -o-box-shadow: 0px 0px 7px 1px #ca5502;
  box-shadow: 0px 0px 7px 1px #ca5502;
}

.white-theme .toggle .switch.active.theme1.active {
  background-color: #ca5502;
}

.white-theme .toggle .switch.active.theme2.active {
  background-color: #ca5502;
}

.white-theme .toggle .switch.active.theme3.active {
  background-color: #ca5502;
}

.purple-theme {
  background: #160628;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.purple-theme button {
  color: #ffe53d;
  border-bottom-color: #871c9c;
  background: #341c4f;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.purple-theme .del-reset {
  color: white;
  border-bottom-color: #bc15f4;
  background: #58077d;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.purple-theme .toggle {
  background-color: #1d0934;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.purple-theme .toggle .switch.theme1,
.purple-theme .toggle .switch.theme2,
.purple-theme .toggle .switch.theme3 {
  color: #00e0d1;
}

.purple-theme .toggle .switch.active {
  color: #ffe53d;
  -webkit-box-shadow: 0px 0px 7px 1px #00e0d1;
  -o-box-shadow: 0px 0px 7px 1px #00e0d1;
  box-shadow: 0px 0px 7px 1px #00e0d1;
}

.purple-theme .toggle .switch.active.theme1.active {
  background-color: #00e0d1;
}

.purple-theme .toggle .switch.active.theme2.active {
  background-color: #00e0d1;
}

.purple-theme .toggle .switch.active.theme3.active {
  background-color: #00e0d1;
}

.header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5rem;
}

@media (max-width: 768px) {
  .header .title {
    width: min(90vw, 100%);
  }
}

@media (max-width: 480px) {
  .header .title {
    width: min(90vw, 100%);
    padding: 1rem 0;
  }
}

.header .title h1 {
  color: white;
  font-size: 2.5rem;
  -webkit-transition: color .5s;
  transition: color .5s;
  margin-bottom: 2rem;
  text-shadow: 5px 2px 0px black;
}

.header .title .theme-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .title .theme-toggle p {
  color: white;
  font-size: .8rem;
  margin-right: 1rem;
  -webkit-transition: color .5s;
  transition: color .5s;
  text-shadow: 2px 2px 0px black;
}

@media (max-width: 480px) {
  .header .title .theme-toggle p {
    margin-right: .8rem;
  }
}

.header .number {
  height: 8rem;
  border-radius: .8rem;
  margin-bottom: 1.5rem;
  background: #182034;
  -webkit-transition: background .5s;
  transition: background .5s;
  text-shadow: 2px 2px 0px black;
}

.header .number .previous-number {
  text-align: right;
  font-size: 1.25rem;
  margin-bottom: .5rem;
  padding: 1.25rem 1.25rem 0 0;
  color: rgba(234, 227, 220, 0.5);
  -webkit-transition: color .5s;
  transition: color .5s;
}

.header .number .current-number {
  color: white;
  padding: 1.25rem;
  text-align: right;
  font-size: 2.25rem;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.calculator-keys {
  padding: 1.5rem;
  border-radius: 1rem;
  background: #232c43;
  -webkit-transition: background .5s;
  transition: background .5s;
}

@media (max-width: 480px) {
  .calculator-keys {
    padding: 1rem;
  }
}

.calculator-keys .button-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .calculator-keys .button-wrapper {
    gap: .8rem;
  }
}

.calculator-keys .button-wrapper-alt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  gap: 1rem;
}

.calculator-keys .button-wrapper-alt .equal {
  color: white;
  background: #d03f2f;
  -webkit-transition: color .5s;
  transition: color .5s;
  -webkit-transition: background .5s;
  transition: background .5s;
  border-bottom: 0.25rem solid #93261a;
}

.white-theme .header .title h1 {
  color: #35352c;
  -webkit-transition: color .5s;
  transition: color .5s;
  text-shadow: 5px 2px 0px #a5a5a5;
}

.white-theme .header .title .theme-toggle p {
  color: #35352c;
  -webkit-transition: color .5s;
  transition: color .5s;
  text-shadow: 2px 2px 0px #a5a5a5;
}

.white-theme .header .number {
  border: 1px solid rgba(192, 192, 192, 0.7);
  background: #ededed;
  -webkit-transition: background .5s;
  transition: background .5s;
  text-shadow: 2px 2px 0px #a5a5a5;
}

.white-theme .header .number .previous-number {
  color: rgba(53, 53, 44, 0.5);
  -webkit-transition: color .5s;
  transition: color .5s;
  text-shadow: 2px 2px 0px whitesmoke;
}

.white-theme .header .number .current-number {
  color: #35352c;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.white-theme .calculator-keys {
  background: #d1cccc;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.white-theme .calculator-keys .button-wrapper-alt .equal {
  color: white;
  background: #ca5502;
  border-bottom-color: #893901;
  -webkit-transition: background .5s;
  transition: background .5s;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.purple-theme .header .title h1 {
  color: #ffe53d;
  -webkit-transition: color .5s;
  transition: color .5s;
  text-shadow: 5px 2px 0px #58077d;
}

.purple-theme .header .title .theme-toggle p {
  color: #ffe53d;
  -webkit-transition: color .5s;
  transition: color .5s;
  text-shadow: 2px 2px 0px #58077d;
}

.purple-theme .header .number {
  background: #1d0934;
  -webkit-transition: background .5s;
  transition: background .5s;
  text-shadow: 2px 2px 0px #58077d;
}

.purple-theme .header .number .previous-number {
  color: rgba(255, 229, 61, 0.5);
  -webkit-transition: color .5s;
  transition: color .5s;
}

.purple-theme .header .number .current-number {
  color: #ffe53d;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.purple-theme .calculator-keys {
  background: #1d0934;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.purple-theme .calculator-keys .button-wrapper-alt .equal {
  color: black;
  background: #00e0d1;
  border-bottom-color: #6cf9f2;
  -webkit-transition: color .5s;
  transition: color .5s;
  -webkit-transition: background .5s;
  transition: background .5s;
}
/*# sourceMappingURL=style.css.map */